
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
}

body {
    background-color: rgb(64, 64, 64);
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 46px;
}

.list-image {
    width: 220px;
    height: 220px;
    overflow: hidden;
    background-color: rgb(44, 44, 44);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15); 
    margin: 8px 8px 8px 8px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    vertical-align: top;

    border: 1px solid rgb(128, 128, 128);
}

.list-image img {
    /*max-width: 220px;*/
    position: relative;
}

.list-image .image-gallery {
    position: absolute;
    top: 0;
    left: 0;
}

.list-image .image-container {
    width: 100%;
    height: 100%;

    text-align: center;

    background-color: rgb(44, 44, 44);

/*          background-image: url(../img/spinner.gif);
    background-repeat: no-repeat;
    background-position: center center;*/
}

.list-image .image-container img {
    /*max-width: 320px;*/
    /*max-height: 320px;*/
}

.list-image .image-info {
    position: absolute;
    bottom: 0px;
    width: 320px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(128, 128, 128, 0.8);
    color: #fff;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
    opacity: 0.0;
    -webkit-transition:opacity 0.5s, -webkit-transform 0.5s; 
    -moz-transition:opacity 0.5s, -moz-transform 0.5s; 
    -o-transition:opacity 0.5s, -o-transform 0.5s; 
    -ms-transition:opacity 0.5s, -ms-transform 0.5s; 
    transition:opacity 0.5s, transform 0.5s; 
}

.list-image .image-info.opacity-full {
    opacity: 1.0;
}

.gallery-badge {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/gallery-small.gif);
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
}

/** header stuff **/


#header {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(214, 215, 216);

    background-image: linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -o-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#header .brand {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
    color: rgb(128, 128, 128);
    margin-left: 20px;
    vertical-align: middle;
}

#header input.loading {
    background: #fff url(../img/spinner.gif) no-repeat 98% center;
    background-size: 24px 24px;
}

.btn {

    display: inline-block;
    height: 32px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(214, 215, 216);
    vertical-align: middle;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin-left: -1px;
    margin-top: -2px;

    text-decoration: none;

    background-image: linear-gradient(bottom, rgb(241,241,241) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(241,241,241) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(241,241,241) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(241,241,241) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(241,241,241) 0%, rgb(255,255,255) 100%);

}

input.btn {
    background-image: none;
    background-color: #fff;
}

.btn-active, .btn:active:not(input) {
    border: 1px solid rgb(35, 115, 165);
    color: #fff;
    background-image: linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -o-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    box-shadow: inset 0px 1px 1px rgb(134, 179, 214);

    text-decoration: none;
}       

.btnset {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.btnset input.btn {
    width: 200px;
    font-size: 16px;
}

#header .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#header .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.image-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 220px;
    background: rgba(0, 0, 0, 0.7);
    display: block;
    opacity: 1.0;
}

.icon-gallery {
    background-image: url(../img/folder_64.png);
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    display: inline-block;
    margin: 4px 4px 4px 4px;
}

.hidden {
    opacity: 0.0;
}

.nodisplay {
    display: none;
}

#controls {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 200px;
}

#controls span {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff;
    color: rgb(128, 128, 128);
    font-size: 12px;
    margin-right: 20px;
}

#controls #stealth-mode {
    vertical-align: middle;
}

/** Banners **/

.banner {
    position: relative;
    width: 98%;
    margin: 10px auto 15px auto;
    height: 32px;
    line-height: 32px;
    display: block;
    background-image: linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -o-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(45, 45, 45) 0%, rgb(67, 67, 67) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);

    border-radius: 7px;
    border: 1px solid rgb(17, 17, 17);
    box-shadow: inset 0px 1px 1px rgb(128, 128, 128), 3px 3px 3px rgba(0, 0, 0, 0.15);

    color: #fff;
    padding-left: 10px;

    opacity: 1.0;
    -webkit-transition:opacity 0.3s, -webkit-transform 0.3s; 
    -moz-transition:opacity 0.3s, -moz-transform 0.3s; 
    -o-transition:opacity 0.3s, -o-transform 0.3s; 
    -ms-transition:opacity 0.3s, -ms-transform 0.3s; 
    transition:opacity 0.3s, transform 0.3s; 
}

.banner > a {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.banner.success {
    background-image: linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -o-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(57, 107, 158) 0%, rgb(93, 154, 195) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(111, 172, 213) 0%, rgb(84,148,198) 100%);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(4, 64, 98);
}

.banner .hidden {
    opacity: 0.0;
}

.banner .close {
    position: absolute;
    right: 5px;
    display: inline-block;
    background-image: url(../img/delete_64.png);
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 20px;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition:opacity 0.3s, -webkit-transform 0.3s; 
    -moz-transition:opacity 0.3s, -moz-transform 0.3s; 
    -o-transition:opacity 0.3s, -o-transform 0.3s; 
    -ms-transition:opacity 0.3s, -ms-transform 0.3s; 
    transition:opacity 0.3s, transform 0.3s; 
}

.banner .close:hover {
    opacity: 1.0;
}

.banner span {
    color: #fff;
    font-weight: 600;
}

/** mview stuff **/

.mview-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.8;

    z-index: 2500;

/*          -webkit-transition:opacity 0.3s, -webkit-transform 0.3s; 
    -moz-transition:opacity 0.3s, -moz-transform 0.3s; 
    -o-transition:opacity 0.3s, -o-transform 0.3s; 
    -ms-transition:opacity 0.3s, -ms-transform 0.3s; 
    transition:opacity 0.3s, transform 0.3s; */
}

.mview-container {
    position: fixed;
    top: 123px;
    left: 0px;
    width: 0px;
    height: 0px;
    background-color: #fff;
    z-index: 2510;
    padding: 2px;
}

.mview-container.mview-spinner {
    background-image: url(../img/spinner.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.mview-button {
    position: fixed;
    height: 50px;
    line-height: 50px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2520;
    font-weight: 600;
    cursor: pointer;
    opacity: 1.0;

    -webkit-transition:opacity 0.7s, -webkit-transform 0.7s; 
    -moz-transition:opacity 0.3s, -moz-transform 0.3s; 
    -o-transition:opacity 0.3s, -o-transform 0.3s; 
    -ms-transition:opacity 0.3s, -ms-transform 0.3s; 
    transition:opacity 0.3s, transform 0.3s; 
}

.mview-button.mview-next {
    right: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.mview-button.mview-prev {
    left: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.mview-button.mview-hidden {
    opacity: 0.0;
}


.mview-buttonbar {
    position: fixed;
    bottom: 5px;
    height: 40px;
    line-height: 40px;
    /*border-radius: 20px;*/
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2520;
    /*width: 160px;*/
    opacity: 1.0;

    -webkit-transition:opacity 0.7s, -webkit-transform 0.7s; 
    -moz-transition:opacity 0.7s, -moz-transform 0.7s; 
    -o-transition:opacity 0.7s, -o-transform 0.7s; 
    -ms-transition:opacity 0.7s, -ms-transform 0.7s; 
    transition:opacity 0.7s, transform 0.7s; 

    padding-left: 10px;
    padding-right: 20px;

}

.mview-buttonbar.mview-fadeout {
    opacity: 0.0;
}

.mview-buttonbar span {
    display: inline-block;
    height: 40px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    line-height: 40px;
    vertical-align: bottom;
}

.mview-buttonbar a, .mview-buttonbar a:hover, .mview-buttonbar a:active {
    text-decoration: none;
    width: 16px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.mview-buttonbar .comments {
    background-image: url(../img/comment_64.png);
}

.mview-buttonbar .original {
    background-image: url(../img/link_64.png);
}

.mview-close {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color:  rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(255, 255, 255, 0.8);

    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/delete_64.png);
    z-index: 2520;
    opacity: 1.0;

    -webkit-transition:opacity 0.7s, -webkit-transform 0.7s; 
    -moz-transition:opacity 0.7s, -moz-transform 0.7s; 
    -o-transition:opacity 0.7s, -o-transform 0.7s; 
    -ms-transition:opacity 0.7s, -ms-transform 0.7s; 
    transition:opacity 0.7s, transform 0.7s; 

    cursor: pointer;
}

.mview-fadeout {
    opacity: 0.0;
}

/** Popup Bubble **/

.bubble {
    position: fixed;
    width: 50%;
    z-index: 1000;
}

.bubble .border {
    background-color: red;
    padding: 4px;
    border-radius: 15px;
    border: 1px solid rgb(128, 128, 128);

    background-image: linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -o-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(214,215,216) 0%, rgb(235,235,235) 100%);

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.bubble .content {
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(242, 242, 242);
    border-radius: 12px;
}

.bubble .triangle {
    position: relative;
    left: 100px;
    border-bottom: 10px solid rgb(235,235,235);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    width: 0px;
    margin-bottom: -1px;
}

.bubble .content {
    text-align: left;
}

.bubble .content td, .bubble .content th {
    width: 50%;
    padding: 5px;
    vertical-align: top;
}

.bubble .content td:first-child {
    border-right: 1px solid rgb(214, 215, 216);
}

.bubble .content th {
    font-size: 24px;
}

.bubble .content tr {
    width: 100%;
}

.bubble .content table {
    width: 100%;
}

.bubble .content p {
    padding: 10px 10px 10px 0;
    margin: 0 5px 0 10px;
    border-bottom: 1px solid rgb(214, 215, 216);
    color: rgb(128, 128, 128);
    font-weight: 600;
}

.bubble .content p:hover {
    background-color: rgb(214, 215, 216);
}

.bubble .content td p:last-child {
    border-bottom: 0;
}

.bubble a, .bubble a:hover, .bubble a:active {
    text-decoration: none;
}